:root {
    --transnet-green: #fdfdfd;
    /* Transnet green */
    --transnet-red: #E31937;
    /* Transnet red */
    --transnet-white: #FFFFFF;
            /* White */
    --transnet-dark: #333333;
            /* Dark gray */
    --transnet-light: #F5F5F5;
            /* Light gray */
  }


body {
    background-color: #f0f2f5;
    background-image: url('./images/back.png');
     background-color: var(--transnet-light);
  }

  .sidebar {
    background-color: rgba(255, 255, 255, 0.384);
    color: rgb(25, 23, 23);;
    min-height: 100vh; 
    height: auto;
    overflow-y: auto;
    transition: all 0.3s;
    z-index: 1000;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15); 
  }

  .sidebar a {
    color: rgb(53, 52, 52);
    text-decoration: none;
  }

  .content {
    padding: 20px;
  }

  .card-icon {
    font-size: 2rem;
  }

  .status-active {
    background-color: #f8d7da;
    color: #721c24;
  }

  .status-resolved {
    background-color: #d4edda;
    color: #155724;
  }


  .sidebar .nav-link {
    color: rgb(53, 52, 52); !important;
    padding-left: 0.5rem;
    transition: background-color 0.2s ease;
    
  }
  
  .sidebar .nav-link:hover {
    background-color: #a10d00;
    color: white !important; 
  }

  .sidebar .nav-link.active {
    background-color: #0d6efd;
    color: white !important;
  }


  footer a.text-white:hover {
    color: #ffc107;
    text-decoration: underline;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  .navbar-nav .nav-link:hover {
    color: #007bff !important;
  }
  
  .fixed-chart-container {
    height: 300px;
    width: 100%;
    position: relative;
  }
  
  .fixed-chart-container canvas {
    height: 100% !important;
    width: 100% !important;
  }
  
  .dashboard-heading {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 20px;
    border-left: 6px solid #E31937;
    background-color: #f8f9fa;
    color: #333;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  

  @media (max-width: 768px) {
    .sidebar {
      position: relative;
      width: 100%;
      height: auto;
      padding: 1rem;
      background-color: rgba(0, 149, 255, 0.358);
      
    }
  
    .sidebar ul.nav {
      margin-top: 1rem;
    }
  
    .sidebar .nav-link {
      color: rgba(255, 255, 255, 0.364) !important;
      padding: 10px 15px;
      border-radius: 5px;
    }
  
    .sidebar .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffc107 !important;
    }
  }

  .custom-red {
  background-color: #a10d00;
  color: white;
}

  
  
  